In [2]:
import requests
import pandas as pd
import sqlalchemy

In [3]:
Data = pd.read_csv("Bengaluru_House_Data.csv")
engine = sqlalchemy.create_engine("mysql+pymysql://root:password@localhost/sql_practice",
                                pool_recycle=3600, echo=True)
Data.to_sql(name = "Bengaluru_House_Data", con = engine, index = True, if_exists = "fail")

2023-12-21 09:32:14,839 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-21 09:32:14,839 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-21 09:32:14,846 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-21 09:32:14,848 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-21 09:32:14,849 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-21 09:32:14,854 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-21 09:32:14,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-21 09:32:14,873 INFO sqlalchemy.engine.Engine DESCRIBE `sql_practice`.`Bengaluru_House_Data`
2023-12-21 09:32:14,876 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-21 09:32:14,893 INFO sqlalchemy.engine.Engine
CREATE TABLE `Bengaluru_House_Data` (
	`index` BIGINT,
	area_type TEXT,
	availability TEXT,
	location TEXT,
	size TEXT,
	society TEXT,
	total_sqft TEXT,
	bath FLOAT(53),
	balcony FLOAT(53),
	price FLOAT(53)
)


2023-12-21 09:32:14,893 INFO sqlalchemy.engine.Engine [no key 0.00193s] {}
2023-12-21 09:32:14,948 INFO sqlalchemy.engine.Engine CREATE INDEX `ix_Bengaluru_House_Data_index` ON `Bengaluru_House_Data` (`index`)
2023-12-21 09:32:14,948 INFO sqlalchemy.engine.Engine [no key 0.00159s] {}
2023-12-21 09:32:15,218 INFO sqlalchemy.engine.Engine INSERT INTO `Bengaluru_House_Data` (`index`, area_type, availability, location, size, society, total_sqft, bath, balcony, price) VALUES (%(index)s, %(area_type)s, %(availability)s, %(location)s, %(size)s, %(society)s, %(total_sqft)s, %(bath)s, %(balcony)s, %(price)s)
2023-12-21 09:32:15,218 INFO sqlalchemy.engine.Engine [generated in 0.17968s] [{'index': 0, 'area_type': 'Super built-up  Area', 'availability': '19-Dec', 'location': 'Electronic City Phase II', 'size': '2 BHK', 'society': 'Coomee ', 'total_sqft': '1056', 'bath': 2.0, 'balcony': 1.0, 'price': 39.07}, {'index': 1, 'area_type': 'Plot  Area', 'availability': 'Ready To Move', 'location': 'Chikka Tirupathi', 'size': '4 Bedroom', 'society': 'Theanmp', 'total_sqft': '2600', 'bath': 5.0, 'balcony': 3.0, 'price': 120.0}, {'index': 2, 'area_type': 'Built-up  Area', 'availability': 'Ready To Move', 'location': 'Uttarahalli', 'size': '3 BHK', 'society': None, 'total_sqft': '1440', 'bath': 2.0, 'balcony': 3.0, 'price': 62.0}, {'index': 3, 'area_type': 'Super built-up  Area', 'availability': 'Ready To Move', 'location': 'Lingadheeranahalli', 'size': '3 BHK', 'society': 'Soiewre', 'total_sqft': '1521', 'bath': 3.0, 'balcony': 1.0, 'price': 95.0}, {'index': 4, 'area_type': 'Super built-up  Area', 'availability': 'Ready To Move', 'location': 'Kothanur', 'size': '2 BHK', 'society': None, 'total_sqft': '1200', 'bath': 2.0, 'balcony': 1.0, 'price': 51.0}, {'index': 5, 'area_type': 'Super built-up  Area', 'availability': 'Ready To Move', 'location': 'Whitefield', 'size': '2 BHK', 'society': 'DuenaTa', 'total_sqft': '1170', 'bath': 2.0, 'balcony': 1.0, 'price': 38.0}, {'index': 6, 'area_type': 'Super built-up  Area', 'availability': '18-May', 'location': 'Old Airport Road', 'size': '4 BHK', 'society': 'Jaades ', 'total_sqft': '2732', 'bath': 4.0, 'balcony': None, 'price': 204.0}, {'index': 7, 'area_type': 'Super built-up  Area', 'availability': 'Ready To Move', 'location': 'Rajaji Nagar', 'size': '4 BHK', 'society': 'Brway G', 'total_sqft': '3300', 'bath': 4.0, 'balcony': None, 'price': 600.0}  ... displaying 10 of 13320 total bound parameter sets ...  {'index': 13318, 'area_type': 'Super built-up  Area', 'availability': '18-Jun', 'location': 'Padmanabhanagar', 'size': '4 BHK', 'society': 'SollyCl', 'total_sqft': '4689', 'bath': 4.0, 'balcony': 1.0, 'price': 488.0}, {'index': 13319, 'area_type': 'Super built-up  Area', 'availability': 'Ready To Move', 'location': 'Doddathoguru', 'size': '1 BHK', 'society': None, 'total_sqft': '550', 'bath': 1.0, 'balcony': 1.0, 'price': 17.0}]
2023-12-21 09:32:16,489 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `sql_practice`
2023-12-21 09:32:16,489 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-21 09:32:16,494 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\HP\AppData\Local\Temp\ipykernel_162400\180955510.py:4: UserWarning: The provided table name 'Bengaluru_House_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Data.to_sql(name = "Bengaluru_House_Data", con = engine, index = True, if_exists = "fail")

13320